# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & Models
/data/
models/
*.h5
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
*.env

# Ignore notebook output if needed
*.nbconvert.ipynb
